In [54]:
# Import dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
import pymongo

In [55]:
!which chromedriver
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

/c/chromedriver_win32/chromedriver

## NASA Mars News

In [56]:
# URL of page to be scraped
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [57]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [58]:
# Scrape to collect latest news title and paragraph text
# First find the slides list class
slides = soup.find_all('li', class_='slide')

In [59]:
# Then find the title of the latest news article and set as news_title variable
news_title = slides[0].find('div', class_='content_title').text

In [60]:
# Print the latest news title
print(news_title)

NASA's Curiosity Takes Selfie With 'Mary Anning' on the Red Planet

In [61]:
# Find the paragraph text of the latest title and set as news_p variable
news_p = slides[0].find('div', class_='article_teaser_body').text

In [62]:
# Print the latest news paragraph
print(news_p)

The Mars rover has drilled three samples of rock in this clay-enriched region since arriving in July.

## JPL Mars Space Images - Featured Image

In [100]:
# URL of page to be scraped
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [101]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [108]:
# Getting the style element and splitting it to find the image base url
get_style = soup.find('article', class_='carousel_item')['style']
break_url=get_style.split(':')
break_url=break_url[1]
break_url=break_url.split("'")
image_url=break_url[1]

In [109]:
# Converting the image object url to a string
print(image_url)

/spaceimages/images/wallpaper/PIA14712-1920x1200.jpg

In [110]:
# Complete the URL string for the image - save it as featured_image_url variable
base_url = "https://www.jpl.nasa.gov"
featured_image_url = base_url + image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA14712-1920x1200.jpg

## Mars Facts

In [112]:
# URL of page to be scraped
url = "https://space-facts.com/mars/"

In [113]:
# Use Pandas's read_html to parse the url
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [116]:
# Extract table values as df
mars_facts_df = tables[0]
mars_facts_df.columns = ['Description', 'Mars']
mars_facts_df.head()

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [117]:
# Set Index
mars_facts_df.set_index('Description', inplace=True)
mars_facts_df.head()

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [119]:
# Save the dataframe to a html table file
mars_facts_df.to_html('marsfacts.html')