In [1]:
# Import dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
import pymongo

In [2]:
!which chromedriver
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

/c/chromedriver_win32/chromedriver

## NASA Mars News

In [3]:
# URL of page to be scraped
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [5]:
# Scrape to collect latest news title and paragraph text
# First find the slides list class
slides = soup.find_all('li', class_='slide')

In [6]:
# Then find the title of the latest news article and set as news_title variable
news_title = slides[0].find('div', class_='content_title').text

In [7]:
# Print the latest news title
print(news_title)

NASA's Curiosity Takes Selfie With 'Mary Anning' on the Red Planet

In [8]:
# Find the paragraph text of the latest title and set as news_p variable
news_p = slides[0].find('div', class_='article_teaser_body').text

In [9]:
# Print the latest news paragraph
print(news_p)

The Mars rover has drilled three samples of rock in this clay-enriched region since arriving in July.

## JPL Mars Space Images - Featured Image

In [10]:
# URL of page to be scraped
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)

In [11]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [12]:
# Getting the style element and splitting it to find the image base url
get_style = soup.find('article', class_='carousel_item')['style']
break_url=get_style.split(':')
break_url=break_url[1]
break_url=break_url.split("'")
image_url=break_url[1]

In [13]:
# Converting the image object url to a string
print(image_url)

/spaceimages/images/wallpaper/PIA16101-1920x1200.jpg

In [14]:
# Complete the URL string for the image - save it as featured_image_url variable
base_url = "https://www.jpl.nasa.gov"
featured_image_url = base_url + image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA16101-1920x1200.jpg

## Mars Facts

In [15]:
# URL of page to be scraped
url = "https://space-facts.com/mars/"

In [16]:
# Use Pandas's read_html to parse the url
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [17]:
# Extract table values as df
mars_facts_df = tables[0]
mars_facts_df.columns = ['Description', 'Mars']
mars_facts_df.head()

            Description                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [18]:
# Set Index
mars_facts_df.set_index('Description', inplace=True)
mars_facts_df.head()

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [19]:
# Convert the dataframe to a html table string
html_table = mars_facts_df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [20]:
# Save the dataframe to a html table file
mars_facts_df.to_html('marsfacts.html')

## Mars Hemispheres

In [21]:
# URL of page to be scraped
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [22]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [23]:
# Scrape for div with item class (the div holding the images)
items = soup.find_all('div', class_='item')

In [26]:
# Base URL needed
base_url = "https://astrogeology.usgs.gov"

# Empty lists to hold urls and titles
urls = []
titles = []

# Looping through the items and appending the urls and titles to the empty lists
for item in items:
    urls.append(base_url + item.find('a')['href'])
    titles.append(item.find('h3').text)

In [27]:
# Setting up URL format for an image
browser.visit(urls[0])
html = browser.html
soup = bs(html, 'html.parser')
img_url = base_url+soup.find('img',class_='wide-image')['src']

In [28]:
# Empty list to store img urls
img_urls = []

# Looping through the urls to find the img urls
for img_url in urls:
    browser.visit(img_url)
    html = browser.html
    soup = bs(html, 'html.parser')
    img_url = base_url+soup.find('img', class_='wide-image')['src']
    img_urls.append(img_url)

In [31]:
# Check to see if image urls are correct
img_urls

['https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [32]:
# Check to see if titles are correct
titles

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [33]:
# Create empty list to hold the image url string 
hemisphere_image_urls = []

# Loop through all and append to the hemisphere list, with keys made
for x in range(len(titles)):
    hemisphere_image_urls.append({'title':titles[x], 'img_url':img_urls[x]})

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]